.displayCurrent {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  align-items: center;
  column-gap: 1rem;
  width: 80%;
}

.displayCurrent > *:nth-child(even) {
  justify-self: center;
}

.atHome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.centerButton {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.input {
  padding: 1rem;
  border: solid black 3px;
  border-radius: 0.5rem;
  font-size: large;
}

.input:focus {
  border-color: var(--bb-blue);
  outline-color: var(--bb-blue);
}

.invalid {
  border-color: tomato;
}

.error {
  color: tomato;
  font-weight: bold;
  height: 1rem;
}

.cancel {
  background-color: tomato;
  width: 10rem;
  height: 4rem;
  font-size: x-large;
  color: #242424;
}

.cancel:active {
  background-color: rgb(177, 69, 50);
}

.moveDown {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 350px) {
  .centerButton {
    flex-direction: column-reverse;
  }
}

@media (max-width: 450px) {
  .moveDown {
    flex-direction: column-reverse;
  }
}