.displayCurrent {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.displayCurrent > *:nth-child(even) {
  justify-self: center;
}

.displayCurrent h2, h3, p {
  margin: 0;
}

.atHome {
  display: flex;
  flex-direction: column;
}

.gap1 {
  gap: 1rem;
}

.width80 {
  width: 80%;
}

.rbm {
  margin: 0;
}

.pre {
  white-space: pre-line;
  text-align: center;
  padding-bottom: 1rem;
}

.sideMargins {
  margin: 0 1rem;
}

.when {
  text-align: right;
  margin-bottom: 1rem;
}

.txtAlgnLft {
  text-align: left;
}

.centerButton {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.input {
  padding: 1rem;
  font-size: large;
}

.invalid {
  border-color: tomato;
}

.textarea {
  min-height: 150px;
}

.error {
  color: tomato;
  font-weight: bold;
  height: 1rem;
  margin-top: 0;
}

.damageButton {
  background-color: gold;
  color: var(--font-dark);
  font-size: x-large;
  height: 5rem;
  width: 15rem;
}

.damageButton:active {
  background-color: darkgoldenrod;
}

.buttonLoading {
  background-color: burlywood;
  cursor: default;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

@media (max-width: 350px) {
  .centerButton {
    flex-direction: column;
  }
}

@media (max-width: 525px) {
  .buttonsWrapper {
    flex-direction: column;
  }
}