:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #272727;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-light: rgba(255, 255, 255, 0.87);
  --font-dark: #272727;

  --bb-blue: #0083D0;
  --bb-blue2: #0069B3;
  --bb-greyish: #7393BC;

  scroll-behavior: smooth;
}


body {
  margin: 0;
  /* min-height: 100vh; */
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

h1 {
  color: var(--bb-blue);
}

button {
  border: 0px;
  background-color: var(--bb-blue);
  color: white;
  font-weight: bold;
  font-size: x-large;
  border-radius: 0.7rem;
  cursor: pointer;
}

button:active {
  background-color: var(--bb-blue2);
}

.buttonLoading {
  background-color: var(--bb-greyish);
  cursor: default;
}

.cancelButton {
  background-color: tomato;
  width: 10rem;
  height: 4rem;
  color: var(--font-dark);
}

.cancelButton:active {
  background-color: rgb(177, 69, 50);
}

input, select, textarea {
  border: solid black 3px;
  border-radius: 0.5rem;
}

input:focus, select:focus, textarea:focus {
  border-color: var(--bb-blue);
  outline: solid 1px var(--bb-blue);
}

.invalid {
  border-color: tomato;
}

.valid {
  border-color: var(--font-dark);
}

.error {
  color: tomato;
  min-height: 1.5rem;
}

hr {
  border: none;
  border-top: 1px double var(--bb-greyish);
}


@media (prefers-color-scheme: dark) {
  :root {
    color: var(--font-light);
    background-color: var(--font-dark);
  }
  input, select, textarea {
    border-color: var(--font-light);
  }
}



.iconColor {
  color: var(--bb-greyish);
}

.activeIconColor {
  color: var(--bb-blue);
}
