.p {
  max-width: 600px;
  margin-bottom: 0;
  padding: 0 1rem;
}

.labelNumber {
  color: var(--font-dark);
}

.divider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.singleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
  border-right: solid 3px black;
  gap: 0.5rem;
}

.allWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genBarrelLabelPair {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
} 

.labelContainer { 
  width: 300px; 
  border: solid 3px var(--font-dark); 
  border-radius: 1rem; 
  background-color: #fff;
  color: var(--font-dark);
  margin-top: 1rem;
}

.plainContainer {
  padding: 1rem 0;
  width: 300px;
  height: fit-content;
  border: solid 5px var(--bb-blue);
  border-radius: 1rem;
  background-color: #fff;
  color: var(--font-dark);
}

.qrcode { 
  width: 300px;
  height: 300px; 
  background-color: #fff; 
}

.qrIcon { 
  width: 45px;
}

.barrelNumber { 
  width: 300px;
  text-align: center; 
  margin-bottom: 1rem;
  margin-top: -2rem;
}

.or {
  position: relative;
  right: -9.3rem;
  top: -4.5rem;
  background-color: #fff;
  padding: 0.5rem;
  margin: 0
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 0;
}

.error {
  display: block;
  color: tomato;
  height: 1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .divider {
    grid-template-columns: 1fr;
  }
  .singleWrapper {
    padding: 0;
    border-right: none;
    border-bottom: solid 3px black;
  }
  .allWrapper {
    margin-top: 2rem;
  }
  .or {
    right: 0;
    top: 1.3rem;
  }
}

@media (prefers-color-scheme: dark) {
  .or {
    background-color: var(--font-dark);
    color: var(--font-light);
  }
  .singleWrapper {
    border-color: var(--font-light);
  }
}