.outerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--font-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 0.5rem;
  border: solid 3px var(--font-dark);
  border-radius: 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

.close {
  align-self: flex-end;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}